In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
data = pd.read_excel('Data2021_3.xlsx')
data.head()

   Unnamed: 0  A_AGE  A_HGA  A_MARITL  ...  CAP_VAL.1  A_USLHRS  PRCITSHP  PTOT_R
0           0     56     39         1  ...          0        -1         1       1
1           1     57     39         1  ...          0        -1         1       6
2           2     78     39         4  ...          0        -1         1       6
3           3     65     43         1  ...          0        40         1      19
4           4     66     39         1  ...          0        40         1      14

[5 rows x 29 columns]

In [ ]:
data1 = data.copy()

In [ ]:
data1['PTOT_R'] = np.where(np.logical_and(data1['PTOT_R'] >=0,data1['PTOT_R'] <8) , 1, data1['PTOT_R'])
data1['PTOT_R'] = np.where(np.logical_and(data1['PTOT_R'] >=8,data1['PTOT_R'] <33) , 2, data1['PTOT_R'])
data1['PTOT_R'] = np.where(data1['PTOT_R'] >=33, 3, data1['PTOT_R'])

In [ ]:
data1['A_AGE'] = np.where(data1['A_AGE'] < 18 , 1, data1['A_AGE'])
data1['A_AGE'] = np.where(np.logical_and(data1['A_AGE'] >= 18,data1['A_AGE']<30),2,data1['A_AGE'])
data1['A_AGE'] = np.where(np.logical_and(data1['A_AGE'] >= 30,data1['A_AGE']<50),3,data1['A_AGE'])
data1['A_AGE'] = np.where(data1['A_AGE'] >= 50,4,data1['A_AGE'])

In [ ]:
data1['A_HGA'] = np.where(data1['A_HGA'] > 0, data1['A_HGA']-30, data1['A_HGA'])

In [ ]:
data1['A_HRSPAY'] = np.where(data1['A_HRSPAY'] > 0 ,data1['A_HRSPAY']/100 , data1['A_HRSPAY'])
data1['A_HRSPAY'] = np.where(data1['A_HRSPAY'] < 0 ,0 , data1['A_HRSPAY'])

In [ ]:
data1['PECERT1'] = np.where(data1['PECERT1'] < 0 ,0 , data1['PECERT1'])
data1['PECERT2'] = np.where(data1['PECERT2'] < 0 ,0 , data1['PECERT2'])
data1['PECERT3'] = np.where(data1['PECERT3'] < 0 ,0 , data1['PECERT3'])

In [ ]:
data1['A_USLHRS'] = np.where(data1['A_USLHRS'] == -4 , 20 , data1['A_USLHRS'])
data1['A_USLHRS'] = np.where(data1['A_USLHRS'] == -1 , 0 , data1['A_USLHRS'])

In [ ]:
data1 = data1.drop('Unnamed: 0',axis=1)

In [ ]:
X = data1.loc[:, data1.columns != 'PTOT_R']
y = data1.loc[:, data1.columns == 'PTOT_R']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=0)
columns = X_train.columns

from sklearn.feature_selection import RFE
from sklearn.naive_bayes import MultinomialNB

logreg = SVC(kernel='poly', degree=3, C=1)
rfe = RFE(logreg, n_features_to_select=10)
rfe = rfe.fit(X_train, y_train.values.ravel())
print(rfe.support_)
print(rfe.ranking_)

In [ ]:
from sklearn.model_selection import train_test_split

X = data1.loc[:, data1.columns != 'PTOT_R']
y = data1.loc[:, data1.columns == 'PTOT_R']

cols = ['A_AGE', 'A_HGA', 'A_SEX', 'P_STAT', 'PECERT1', 'PECERT3', 'A_HRLYWK', 'A_WKSTAT', 'CLWK', 'EARNER', 'PHMEMPRS', 'ERN_SRCE', 'WSAL_YN', 'A_FAMREL.1', 'A_SEX.1']
X = X[cols]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)
columns = X_train.columns

In [ ]:
from sklearn.svm import SVC
poly = SVC(kernel='poly', degree=3, C=1).fit(X_train, y_train)
#rbf = SVC(kernel='rbf', gamma=0.5, C=0.1).fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:985: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [ ]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score
poly_pred = poly.predict(X_test)
#rbf_pred = rbf.predict(X_test)

poly_accuracy = accuracy_score(y_test, poly_pred)
poly_f1 = f1_score(y_test, poly_pred, average='weighted')
print('Accuracy (Polynomial Kernel): ', "%.2f" % (poly_accuracy*100))
print('F1 (Polynomial Kernel): ', "%.2f" % (poly_f1*100))

Accuracy (Polynomial Kernel):  75.59
F1 (Polynomial Kernel):  74.80

In [ ]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
result1 = classification_report(y_test, poly_pred)
print('Classification Report:',)
print (result1)

Classification Report:
              precision    recall  f1-score   support

           1       0.89      0.82      0.86     11356
           2       0.65      0.83      0.73      9236
           3       0.67      0.33      0.44      3408

    accuracy                           0.76     24000
   macro avg       0.74      0.66      0.68     24000
weighted avg       0.77      0.76      0.75     24000